.h-flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.h-flex-column {
  display: flex;
  flex-direction: column;
}

.h-full-height-view {
  height: 100vh;
}

.h-flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-segment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.h-small-margin-right {
  margin-right: 10px;
}
